body{
	background: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-blue-smart-light-tech-background-backgroundlight-effect-backgroundelectronic-image_81225.jpg);
	margin: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 70px repeat(5, 40px);
    background-color: white ;
    padding: 10px;

    box-shadow: 10px 8px black;
}
button {
    cursor: pointer;
    margin: 3px;
    padding: 0;
    font-size: 1.3em;
    height: 30px;
    border: none;
    box-shadow: 2px 2px 5px -3px grey, 1px 1px 5px 2px grey;
}
button:active {
    background-color: white;
}
button:focus {
    outline: none;
}
button:hover{
    cursor: pointer;
    background: #3A3C3C;
    color: #F6F6F6;
}
.col-2 {
    background-color: #888282 ;
	color: black;
}
.display {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 10px 20px;
    align-items: flex-end;
    height: 50px;
    background-color:#F6F6FA  ;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 1px 5px 5px 5px #00000033;
}
#valor-actual {
    font-size: 1.6em;
    text-align: center;
}
#valor-anterior {
    font-size: 1.5em;
    text-align: center;
}
.numero{
	background-color: #E1E0DF;
	color: black;
}
.operador{
	background-color: #888282;
	color: black;
}
.operadord{
    background-color: #394FEF ;
    color: black;
}
